<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<div class="main">
  <div class="frm">
      <h3>Create Account</h3>
      <label for="firstname" class="form-label">Firstname</label>
      <input  type="text" class="form-control" id="firstname" placeholder="Firstname">

      <label for="lastname" class="form-label">Lastname</label>
      <input  type="text" class="form-control" id="lastname" placeholder="Lastname">

      <label for="login" class="form-label">Email address</label>
      <input  type="email" class="form-control" id="login" placeholder="name@example.com">

      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">

      <button (click)="register()" type="button" class="reg">Register</button>
      <button (click)="login()" type="button" class="sig">Sign in</button>  
     
    </div>   
</div>
