<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="naame">Name:</label>
    <input id="naame" formControlName="naame" type="text">
  </div>
  <div>
    <label for="category">Category:</label>
    <input id="category" formControlName="category" type="text">
  </div>
  <div>
    <label for="description">Description:</label>
    <input id="description" formControlName="description" type="text">
  </div>
  <div>
    <label for="price">Price:</label>
    <input id="price" formControlName="price" type="number">
  </div>
  <div>
    <label for="availableQuantity">Available Quantity:</label>
    <input id="availableQuantity" formControlName="availableQuantity" type="number">
  </div>
  <div>
    <label for="image">Image:</label>
    <input id="image" type="file" (change)="onFileSelected($event)">
  </div>
  <button type="submit">Create Product</button>
</form>